apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
data:
  JWT_SECRET: "0008c5aa70752d59c85bf476aaf93607aae0e5ec8eb09caa06333d1459064f16ca60c5f20e335b8c4cc0acb81e70d5f3"
  JWT_EXPIRATION_MS: "3600000"
  application.yml: |
    server:
      port: 8080
    spring:
      application:
        name: GATEWAY-SERVICE
      cloud:
        gateway:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:5173"
                allowedMethods: [GET, POST, PUT, DELETE, OPTIONS]
                allowedHeaders: "*"
                allowCredentials: true
          routes:
            - id: actuator_route
              uri: no-op://localhost
              predicates:
                - Path=/actuator/**
              filters:
                - PreserveHostHeader
            - id: datasource-service-main
              uri: lb://DATASOURCE-SERVICE
              predicates:
                - Path=/datasources/**
              filters:
                - name: AuthenticationFilter
            - id: datasource-service-main
              uri: lb://DATASOURCE-SERVICE
              predicates:
                - Path=/blob/**
              filters:
                - name: AuthenticationFilter
            - id: identity-service
              uri: lb://IDENTITY-SERVICE
              predicates:
                - Path=/auth/**
            - id: datasource-service-types
              uri: lb://DATASOURCE-SERVICE
              predicates:
                - Path=/datasource-types/**
              filters:
                - name: AuthenticationFilter
    # MOVED EUREKA OUTSIDE OF SPRING BLOCK
    eureka:
      client:
        service-url:
          defaultZone: http://eureka-service:8761/eureka/
      instance:
        prefer-ip-address: true
    resilience4j:
      circuitbreaker:
        instances:
          authCircuitBreaker:
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5000ms
    management:
      endpoints:
        web:
          exposure:
            include: "health,info,prometheus" # Added prometheus
      endpoint:
        prometheus:
          access: unrestricted # For Spring Boot 3.4+
        health:
          show-details: always
      metrics:
        tags:
          application: ${spring.application.name}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway-app
          image: kiko12122/dataledge-gateway-service:1.3
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "300Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: SPRING_CONFIG_LOCATION
              value: "file:/config/application.yml"
          envFrom:
            - configMapRef:
                name: gateway-config
          volumeMounts:
            - name: config-volume
              mountPath: /config
      volumes:
        - name: config-volume
          configMap:
            name: gateway-config

---

apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  labels:
    app: gateway
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080