management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus


spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                          allowedOrigins: "http://localhost:5173"
                          allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                          allowedHeaders: "*"
                          allowCredentials: true
          routes:
            # Route for /datasources
                    - id: datasource-service-main
                      uri: lb://DATASOURCE-SERVICE
                      predicates:
                        - Path=/datasources/**
                      filters:
                        - AuthenticationFilter

                    # Route for /datasource-types
                    - id: datasource-service-types
                      uri: lb://DATASOURCE-SERVICE
                      predicates:
                        - Path=/datasource-types/**
                      filters:
                        - AuthenticationFilter

                    # Route for Identity Service
                    - id: identity-service
                      uri: lb://IDENTITY-SERVICE
                      predicates:
                        - Path=/auth/**
                      filters:
                        - AuthenticationFilter
                    - id: datasource-service-blob
                      uri: lb://DATASOURCE-SERVICE
                      predicates:
                        - Path=/blob/**
                      filters:
                        - AuthenticationFilter
resilience4j:
  circuitbreaker:
    instances:
      authCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 5
        minimumNumberOfCalls: 10
        permittedNumberOfCallsInHalfOpenState: 10
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5000
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        record-exceptions:
          - java.util.concurrent.TimeoutException
          - org.springframework.cloud.gateway.support.NotFoundException
          - io.github.resilience4j.circuitbreaker.CallNotPermittedException